.BuildControl{
    border: 1px solid #575757;
    color: #c5c5c5;
    text-align: center;
    font-style: inherit;
    margin: auto;
    padding: 10px;
    width: 50%
}

@media screen and (min-width: 300px) and (min-height: 700px) {
    .BuildControl{
        width: 95%
    }
}

@media screen and (min-width: 500px) and (min-height: 700px) {
    .BuildControl{
        width: 400px
    }
}