.OrderPreview {
  display: block;
  width: auto;
  height: auto;
  margin: 10px;
}

.OrderPreview .TextTitle {
  text-transform: uppercase;
  text-align: center;
  font-style: inherit;
  color: black;
  padding-top: 10px;
}

.OrderPreview .Items {
  text-align: left;
  font-style: inherit;
  color: black;
  padding-top: 10px;
  padding-left: 10px;
}

.OrderPreview .TotalCost {
  text-align: left;
  font-style: inherit;
  width: 90%;
  color: black;
  padding-top: 10px;
  padding-left: 30px;
}

.OrderPreview .Confirm {
  text-align: center;
  font-style: inherit;
  color: black;
  padding-top: 10px;
  padding-left: 30px;
}

.OrderPreview .Confirm button {
  background-color: green;
  width: 80%;
  padding: 10px 10px;
  margin-top: 20px;
  color: white;

}

.OrderPreview .Confirm button:hover {
    background-color: rgb(100, 255, 100);
  
  }
